.place__image {
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 2/3;
}


@media (max-width: 1024px) {
    .place__image {
        width: 440px;
        height: 440px;
    }
}

@media (max-width: 980px) {
    .place__image {
        width: 380px;
        height: 380px;
    }
}

@media (max-width: 900px) {
    .place__image {
        width: 340px;
        height: 340px;
    }
}

@media (max-width: 425px) {
    .place__image {
        width: 303px; /* оригинальная ширина – 320px*/
        height: 320px;
    }
}

@media (max-width: 330px) {
    .place__image {
        position: relative;
        left: -9px;
    }
}

@media (max-width: 320px) {
    .place__image {
        left: -17px;
    }
}