.footer__menu {
    margin-left: 4%;
}

@media (max-width: 1100px) {
    .footer__menu {
        margin-left: 5%;
    }
}

@media (max-width: 768px) {
    .footer__menu {
        margin-left: 3%;
    }
}

@media (max-width: 425px) {
    .footer__menu {
        margin-left: 5%;
    }
}