.header {
    padding-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .header {
        padding-top: 12px;
    }
}