.cover__container {
    margin: 24% auto;
}

@media (max-width: 768px) {
    .cover__container {
        margin: 15% auto;
    }
}

@media (max-width: 500px) {
    .cover__container {
        max-width: 300px;
    }
}

@media (max-width: 320px) {
    .cover__container {
        max-width: 254px;
    }
}
