.footer__link {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 19px;
    text-decoration: none;
}
  
  .footer__link:hover {
    color: #AAAAAA;
    cursor: pointer;
}

@media (max-width: 450px) {
  .footer__link {
      font-size: 24px;
      line-height: 100%;
  }
}