.lead__title {
    font-family: 'Inter Black', Arial, sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    color: #FFFFFF;
    margin-top: -11px;
    margin-bottom: 30px;
    max-width: 720px;
}

@media (max-width: 760px) {
    .lead__title {
    font-size: 12.5vw;
    line-height: 110%;
    }
}

@media (max-width: 375px) {
    .lead__title {
    margin-bottom: 15px;
    }
}
