.lead__subtitle {
    font-family: 'Inter Regular';
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 64px;
    max-width: 640px;
}

@media (max-width: 1024px) {
    .lead__subtitle {
    margin-bottom: 54px;
    }
}

@media (max-width: 768px) {
    .lead__subtitle {
    margin-bottom: 56px;
    }
}

@media (max-width: 760px) {
    .lead__subtitle {
    font-size: 5.5vw;
    line-height: 125%;
    }
}

@media (max-width: 375px) {
    .lead__subtitle {
    font-size: 5vw;
    margin-bottom: 39px;
    }
}