.cover__title {
    font-family: 'Inter Black';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 32px auto;
    max-width: 560px;
    position: relative;
    z-index: 2;
}

@media (max-width: 750px) {
    .cover__title {
        font-size: 8vw;
        line-height: 109%;
    }
}

@media (max-width: 425px) {
    .cover__title {
        font-size: 32px;
        margin: 0 auto 15px auto;
    }
}