.place {
   margin: 0 auto 80px auto;
   display: grid;
   grid-template-columns: repeat(2, 460px);
   max-width: 77%;
   grid-gap: 48px 40px;
 }

 .place:last-child {
    margin-bottom: 0;
 }

@media (max-width: 1120px) {
  .place {
    margin: 0 0 80px 5vw;
    max-width: 79%;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
}

@media (max-width: 768px) {
  .place {
    margin: -5px 0 75px 3vw;
    grid-template-columns: 340px 352px;
    gap: 48px 28px;
  }
} 
 
@media (max-width: 750px) {
   .place {
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin-bottom: 50px;
   }
}

@media (max-width: 320px) {
  .place {
    margin-left: 17px;
    /*max-width: 288px;*/
  }
}